<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Spam Detector</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div id="customAlert"><span id="alertMessage"></span></div>
  <div class="container">
    <h1>🚫 Spam Message Detector</h1>
    <textarea id="message" placeholder="Type your message here..."></textarea>
    <button onclick="checkSpam()">Check Spam</button>
    <p id="result"></p>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
